* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #434851;
}

body {
    background-color: #F6F8F9;
}

main {
    margin-left: 40px;
}

#header_logo {
    background-color: white;
    margin-bottom: 40px;
}

#button_section {
    background-color: white;
    width: 70%;
    margin: auto auto;
    padding-left: 50px;
}

#add_task {
    background-color: #14AAF5;
    color: black;
    font-size: 12px;
    width: auto;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
}

#add_section {
    background-color: #ffffff;
    font-size: 12px;
    border: 1px solid grey;
    width: auto;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 10%;
}

#text_section {
    background-color: white;
    width: 70%;
    margin: auto auto;
    margin-top: 3px;
    padding-left: 50px;
    padding-bottom: 40px;
}

.section_class {
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
}

.task_class {
    font-size: 10px;
    margin-top: 10px;
}

.green_check {
    display: inline-block;
    color: #39CAB0;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    font-size: 10px;
    padding: 1px;
    text-align: center;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.red_check {
    display: inline-block;
    color: #FF1010;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.task_type {
    font-size: 8px;
    color: white;
    border-radius: 90px;
    display: inline-block;
    padding: 5px 7px;
}

.blue {
    background-color: #09A9ED;
}

.purple {
    background-color: #AB5DE6;
}

.green {
    background-color: #2CC6AB;
}

.orange {
    background-color: #FF9B00;
}

.pink {
    background-color: #EC4A9D;
}

.lime {
    background-color: #A3D116;
}